<header id="layout-header">
    <nav>
        <div class="mini-logo">
            <p>
                <a href='/'>
                    ROHTIES'
                </a>
            </p>
        </div>
    
        <div class="auth-links">
            <ul>
                <% if (locals.user){ %>
                <li>
                    <a href="/users/profile/<%= cust.id %>"><%= cust.name %></a>
                </li>
                <li>
                    <a href="/users/sign-out">Sign Out</a>
                </li>
                <% }else{ %>
                <li>
                    <a href="/users/log-in">Log In</a>
                </li>
                <li>
                    <a href="/users/sign-up">Sign Up</a>
                </li>
                <% } %>
            </ul>
        </div>
    </nav>
 


</header>