<h1>Reset Password</h1>

<form action="/users/reset_link" method="POST">
    <input type="email" name="email" placeholder="Enter username" required>  
    <input type="submit" value="Send Email">
</form>
