<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <h1>HOME HERE</h1>
        
        <section id="feed-posts">
            <h4>Posts</h4>
            <%if(locals.user){%>
            <form action="/posts/create" id="new-post-form" method="POST">
                <textarea name="content" cols="30" rows="3" required></textarea>
                <input type="submit" value="Post">
            </form>
            <%}%>
            <div></div>
                    <%- include('_post') -%>            
            </div>
        </section>
        <section id="user_friends">
            <h4>Friends</h4>
            <%for(u of all_user){%>
                <p>
                    <%=u.name%>
                </p>
            <%}%>

        </section>
    </body>
</html>