<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <h1>HOME HERE</h1>

        <section id="feed-posts">
            <h4>Posts</h4>
            <form action="/posts/create" id="new-post-form" method="POST">
                <textarea name="content" cols="30" rows="3"></textarea>
                <input type="submit" value="Post">
            </form>
            <div>
                <%for(let i of user_post){%>
                    <ul id="li">
                        <!-- <li><%= i.user.name%></li> -->
                        <li><%= i.content%></li>
                    </ul>
                <%}%>
            </div>
        </section>
    </body>
</html>