<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <h1>Profile</h1>
        <p><%= cust.name %></p>
        <p><%= cust.email %></p>
    </body>
</html>