<h1>New Password</h1>
<% if(isValid == true){ %>
    <form action="/users/pass/update/<%=accessToken%>" method="POST">
        <input type="password" name="password" placeholder="Enter New Password" required>  
        <input type="password" name="confirm_password" placeholder="Confirm Password" required>
        <input type="submit" value="Change Password">
    </form>
<%}else{%>
    <p>The token is expire</p>
<%}%>