<h1>Log In</h1>

<form action="/users/createsession" method="POST">
    <input type="email" name="email" placeholder="Enter username" required>  
    <input type="password" name="password" placeholder="Enter password" required>
    <input type="submit" value="Log In">
</form>